# 스마트스토어(네이버 커머스API) - https://apicenter.commerce.naver.com 에서 애플리케이션 등록 후 발급
NAVER_CLIENT_ID=
NAVER_CLIENT_SECRET=

# 쿠팡(오픈API) - 쿠팡윙 판매자 센터 > 오픈API 관리에서 발급
COUPANG_ACCESS_KEY=
COUPANG_SECRET_KEY=
COUPANG_VENDOR_ID=
